#banner {
  .particles {
    width: auto;
    position: absolute;
    z-index: 3;

    &.particle-1-top {
      left: 40px;
      top: 60px;
    }

    &.particle-2-top {
      right: 40px;
      top: 25px;
    }

    &.particle-1-bottom {
      right: 80px;
      bottom: 180px;
      transform: rotate(-15deg);
    }

    &.particle-2-bottom {
      bottom: 68px;
      transform: rotate(75deg);
      left: 60px;
    }

  }

  .container {
    position: absolute;
    width: 100%;
    z-index: 999;
    top: 230px;
    left: 50%;
    transform: translate(-50%, 0);

    h2 {
      font-family: $axiformaBlackItalic;
      text-transform: uppercase;
      font-size: 3em;
      color: $corBranca;
      position: relative;

      &:after {
        content: "";
        height: 5px;
        width: 166px;
        background-color: $corPrimaria;
        position: absolute;
        bottom: 0;
        left: 0;
        display: block;
        transform: skew(-50deg);
      }
    }

    .btn-banner {
      background: $corSecundaria;
      padding: 22px 30px 18px 30px;
      transform: skew(-30deg);
      display: inline-block;
      margin-top: 35px;
      transition: $transicaoPadrao;


      span {
        transform: skew(30deg);
        display: block;
        font-family: $axiformaBlackItalic;
        color: $corBranca;
        text-transform: uppercase;
        font-size: 28px;
      }

      .element-btn {
        width: 230px;
        height: 42px;
        transform: skew(30deg);
        position: absolute;
        bottom: -30px;
        left: 0;
        transition: all .3s ease;
      }

      &:hover {
        background: $corPrimaria !important;

        img {
          left: -14px;
        }
      }
    }
  }
}