#como-funciona {
  margin-top: 50px;


  .container {
    .row {

      h3 {
        padding-right: 100px;
        position: relative;
        margin-bottom: 40px;
        color: #606062;


        &:after {
          content: "";
          height: 5px;
          width: 130px;
          background-color: $corPrimaria;
          position: absolute;
          bottom: -8px;
          left: 0;
          display: block;
          transform: skew(-50deg);
        }
      }

      .card-item {
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        position: relative;
        margin-bottom: 10px;

        .card-inner {
          -webkit-box-flex: 1;
          -ms-flex-positive: 1;
          flex-grow: 1;
          -webkit-box-ordinal-group: 2;
          -ms-flex-order: 1;
          order: 1;
          height: 150px;
          align-items: center;
          display: flex;
          background: #313133;
          margin-bottom: 10px;
          padding: 0 30px;
          color: #bfbfbf;
          font-family: $axiformaRegular;
          position: relative;
          transition: all .3s ease-in-out;

          .card-arrow {
            width: 18px;
            height: 18px;
            background: #313133;
            position: absolute;
            left: 0;
            margin-left: calc(-18px / 2);
            top: 50%;
            -webkit-transform: translateY(-50%) rotate(45deg);
            -ms-transform: translateY(-50%) rotate(45deg);
            transform: translateY(-50%) rotate(45deg);
            z-index: -1;
            transition: all .2s ease-in-out;
          }
        }

        .card-point {
          -webkit-box-flex: 0;
          -ms-flex-positive: 0;
          flex-grow: 0;
          -webkit-box-ordinal-group: 1;
          -ms-flex-order: 0;
          order: 0;
          font-family: $axiformaBlackItalic;
          width: 64px;
          height: 64px;
          display: table;
          background: #313133;
          margin-right: 50px;
          border-radius: 100%;
          transition: all .3s ease-in-out;


          .card-point-content {
            display: flex;
            width: 100%;
            height: 100%;
            align-items: center;
            justify-content: center;
            line-height: 0;
            color: #bfbfbf;
            font-size: 1.7rem;
          }

          &:before {
            width: 7px;
            height: 100%;
            background: #313133;
            content: '';
            position: absolute;
            z-index: -1;
            left: 29px;
            bottom: -50%;
          }

          &:after {
            width: 7px;
            height: 0;
            content: '';
            position: absolute;
            z-index: -1;
            left: 29px;
            top: -50%;
            transition: .3s ease-in-out;
          }
        }

        &.show {
          .card-inner {
            background: $corPrimaria;
            color: $corBranca;

            .card-arrow {
              background: $corPrimaria;
            }
          }

          .card-point {
            background: $corPrimaria;

            .card-point-content {
              color: $corBranca;
            }

            &:after {
              width: 7px;
              height: 100%;
              background: #97d035;
              content: '';
              position: absolute;
              z-index: -1;
              left: 29px;
              top: -50%
            }
          }
        }

        &:first-child {
          .card-point {
            &:after {
              height: 0;
            }
          }
        }

        &:last-child {
          .card-point {
            &:before {
              height: 0;
            }
          }
        }
      }


    }
  }
}