#profissionais {
  margin-top: 25px;
  .container {
    .row {
      .profissionais-carousel {
        .item {
          background-color: #313133;
          overflow: hidden;

          img {
            width: auto !important;

            &.img-profissionais {
              z-index: 0;
              left: 50px;
            }

            &.lateral-profissionais {
              position: absolute;
              z-index: 2;
            }
          }

          .name-profession {
            padding-top: 10px;

            h4 {
              font-family: $axiformaBold;
              font-size: 0.95rem;
              color: $corBranca;
              margin-bottom: 0;

            }

            h5 {
              font-family: $axiformaRegular;
              font-size: 0.95rem;
              color: $corBranca;
            }
          }

          h6 {
            font-family: $axiformaRegular;
            text-align: center;
            font-size: 0.95rem;
            background: $corPrimaria;
            padding: 10px 0 10px 0;
            color: #313133;
            margin-bottom: 0;

          }
        }

        .owl-dots {
          margin-top: 35px;

          .owl-dot {
            span {
              width: 14px;
              height: 14px;
              background-color: #606062;
              transition: $transicaoPadrao;
            }

            &.active {
              span {
                background-color: $corPrimaria;
              }
            }
          }
        }
      }
    }
  }
}