.secoes-alternadas {
  position: relative;
  .particle-1-bottom {
    right: 80px;
    top: -120px;
    transform: rotate(-15deg);
    width: auto;
    position: absolute;
    z-index: 2;
  }

  .particle-2-bottom {
    top: -50px;
    transform: rotate(75deg);
    left: 60px;
    width: auto;
    position: absolute;
    z-index: 2;
  }

  .container {
    .row {
      padding-top: 60px;

      h3 {
        font-family: $axiformaBlackItalic;
        text-transform: uppercase;
        color: #606062;
        position: relative;
        margin-bottom: 25px;

        &:after {
          content: "";
          height: 5px;
          width: 166px;
          background-color: $corPrimaria;
          position: absolute;
          bottom: -8px;
          left: 0;
          display: block;
          transform: skew(-50deg);
        }
      }

      .wrapper-attachment-secoes-aternadas {

        .attachment-secoes-aternadas {
          width: 100%;

          &.left-img {
            padding: 0 80px 0 0;
            top: -30px;
            position: relative;
          }

          &.second-img {
            width: auto !important;
            margin-top: 50px;
            margin-left: 80px;
          }
        }
      }

      .btn-secoes-alternadas {
        font-family: $axiformaBlackItalic;
        background: $corSecundaria;
        padding: 10px 15px 6px 15px;
        transform: skew(-30deg);
        display: inline-block;
        margin-top: 5px;
        transition: $transicaoPadrao;

        span {
          transform: skew(30deg);
          display: block;
          font-family: $axiformaBlackItalic;
          color: $corBranca;
          text-transform: uppercase;
          font-size: 1.2rem;
          transition: $transicaoPadrao;
        }

        &:hover {
          background: $corPrimaria !important;
          transform: skew(-15deg);

          span {
            transform: skew(15deg);
          }
        }
      }
    }
  }

  &.sa-2 {
    .container {
      .row {
        .sa-content {
          h4 {
            font-size: 16px;
            font-family: $axiformaBold;
            color: $corPrimaria;
            margin-bottom: 20px;
          }

          p {
            color: #606062;

            strong {
              color: #606062;
            }
          }

          &.sac-0 {
            padding-right: 100px;
            padding-left: 100px;
          }

          &.sac-1 {
            padding-right: 100px;
          }
        }

        .second-img {
          top: -350px;
          position: relative;
          z-index: 1;
        }
      }
    }
  }
}