#planos {
  background-color: $corPrimaria;
  max-height: 610px;
  padding-top: 50px;
  top: -371px;
  position: relative;


  .container {
    .row {
      h3 {
        font-family: $axiformaBlackItalic;
        text-transform: uppercase;
        color: #ffffff;
        position: relative;
        margin-bottom: 40px;

        &:after {
          content: "";
          height: 5px;
          width: 166px;
          background-color: #606062;
          position: absolute;
          bottom: -8px;
          left: 0;
          display: block;
          transform: skew(-50deg);
        }
      }

      .box-consultoria {
        background-color: #2f2f32;
        padding: 35px 70px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        box-shadow: 8px 8px 20px rgba(1, 1, 1, 0.5);
        transition: $transicaoPadrao;


        .box-header {
          display: flex;
          justify-content: space-between;
          margin-bottom: 25px;

          h4 {
            display: flex;
            flex-direction: column;
            position: relative;
            padding-bottom: 15px;

            span {
              font-size: 1.7rem;
              font-family: $axiformaBlackItalic;
              letter-spacing: -1px;
              line-height: 2rem;

              &.linha-1 {
                color: #FFFFFF;
              }

              &.linha-2 {
                color: $corSecundaria;
              }

              &.linha-3 {
                color: #FFFFFF;
              }
            }

            &:after {
              content: "";
              height: 5px;
              width: 120px;
              background-color: $corSecundaria;
              position: absolute;
              bottom: 5px;
              left: 0;
              display: block;
              transform: skew(-50deg);
            }
          }

          img {
            width: auto;
          }

        }

        .items-box {
          margin-bottom: 35px;

          p {
            color: #fefefe;
            display: flex;
            align-items: center;
            line-height: 1.3rem;
            margin-bottom: 20px;
          }

          .numero-item {
            background: $corPrimaria;
            width: 30px;
            height: 30px;
            display: table;
            border-radius: 100%;
            margin-right: 25px;

            span {
              color: $corBranca;
              display: flex;
              justify-content: center;
              height: 100%;
              align-items: center;
              line-height: 0;
              padding-top: 3px;
            }
          }
        }
        &:hover{
          transform: scale(1.02);
        }
      }
    }
  }
}