#resultados {
  margin-top: 80px;

  .container {
    .row {
      h3 {
        position: relative;
        margin-bottom: 40px;
        text-transform: uppercase;
        color: #606062;

        &:after {
          content: "";
          height: 5px;
          width: 130px;
          background-color: $corPrimaria;
          position: absolute;
          bottom: -8px;
          left: 0;
          display: block;
          transform: skew(-50deg);
        }
      }

      .resultados-carousel {
        .item {
          border: 4px solid $corPrimaria;
          transition: $transicaoPadrao;

          &:hover {
            filter: brightness(0.6);
          }
        }

        .owl-dots {
          margin-top: 35px;

          .owl-dot {
            span {
              width: 14px;
              height: 14px;
              background-color: #606062;
              transition: $transicaoPadrao;
            }

            &.active {
              span {
                background-color: $corPrimaria;
              }
            }
          }
        }
      }
    }
  }
}