#formas-de-pagamento {
  margin-top: 70px;

  .container {
    .row {
      h3 {
        font-family: $axiformaBlackItalic;
        text-transform: uppercase;
        color: #606062;
        position: relative;
        margin-bottom: 40px;
        font-size: 1.6rem;

        &:after {
          content: "";
          height: 5px;
          width: 150px;
          background-color: $corPrimaria;
          position: absolute;
          bottom: -8px;
          left: 0;
          display: block;
          transform: skew(-50deg);
        }
      }

      .formas-de-pagamento {
        img {
          width: auto;
        }
      }
    }
  }
}