#quem-sou-eu {
  margin-top: 100px;

  .container {
    .row {
      h3 {
        font-family: $axiformaBlackItalic;
        text-transform: uppercase;
        color: #606062;
        position: relative;
        margin-bottom: 50px;

        &:after {
          content: "";
          height: 5px;
          width: 150px;
          background-color: $corPrimaria;
          position: absolute;
          bottom: -8px;
          left: 0;
          display: block;
          transform: skew(-50deg);
        }
      }

      p {
        color: #606062;
        line-height: 1.4rem;
      }

      .content {
        padding-right: 100px;
      }

      .frases-carousel {
        margin-top: 35px;

        .item {
          background-color: #2f2f32;
          height: 180px;
          color: #fff;
          padding: 0 50px;

          img {
            width: auto !important;
            position: absolute;

            &.aspa-frase-1 {
              left: 0;
              bottom: 0;
            }

            &.aspa-frase-2 {
              top: 0;
              right: 0;
              transform: rotate(180deg);
            }
          }

          p {
            color: $corBranca;
            text-align: center;
            z-index: 2;
            font-size: 0.95rem;
          }
        }

        .owl-dots {
          margin-top: 35px;

          .owl-dot {
            span {
              width: 14px;
              height: 14px;
              background-color: #606062;
              transition: $transicaoPadrao;
            }

            &.active {
              span {
                background-color: $corPrimaria;
              }
            }
          }
        }

      }

      .img-quem-sou-eu {
        width: auto;
      }
    }
  }
}