#cta-download-app {
  margin-top: 80px;
  margin-bottom: 270px;
  padding-top: 40px;
  background-color: #606062;
  padding-bottom: 290px;

  .container {
    .row {
      h3 {
        color: $corBranca;
        position: relative;

        &:after {
          content: "";
          height: 5px;
          width: 130px;
          background-color: $corPrimaria;
          position: absolute;
          bottom: -8px;
          left: 0;
          display: block;
          transform: skew(-50deg);
        }
      }

      .botoes-download-app {
        margin-top: 70px;

        img {
          width: 150px;
          margin-right: 10px;
          transition: $transicaoPadrao;
        }

        a {
          &:hover {
            img {
              filter: drop-shadow(3px 3px 5px rgb(0 0 0 / 60%))
            }
          }
        }
      }

      .texto-cta-download-app {
        margin-top: 30px;

        p {
          color: $corBranca;
          margin-top: 15px;
        }
      }

      img {
        width: auto;
      }

      .link-video-download-app {
        background: #202020;
        padding: 200px 0;
        position: absolute;
        width: 100%;
        box-shadow: 12px 12px 20px rgb(0 0 0 / 21%);

        .btn-youtube {
          position: absolute;
          left: 50%;
          transform: translate(-50%, 0);
          transition: all .3s ease-in-out;

          &:hover {
            filter: drop-shadow(5px 5px 10px rgb(0 0 0 / 50%));
          }
        }

        &:hover {
          .btn-youtube {
            filter: drop-shadow(5px 5px 10px rgb(0 0 0 / 50%));
          }
        }
      }
    }
  }
}