#atendimento {
  position: relative;
  background: $corPrimaria;
  top: -65px;

  img {
    left: -50px;
    position: relative;
  }

  svg {
    position: absolute;
    font-size: 22em;
    top: 48%;
    transform: translate(0, -50%);
    left: 65px;
    color: #8bc031;
  }

  .content {
    padding-left: 80px;

    h3 {
      color: $corBranca;
      font-size: 2rem;
      text-transform: uppercase;
      line-height: 2.3rem;
      position: relative;
      margin-bottom: 35px;

      &:after {
        content: "";
        height: 5px;
        width: 166px;
        background-color: #606062;
        position: absolute;
        bottom: -8px;
        left: 0;
        display: block;
        transform: skew(-50deg);
      }
    }

    p {
      font-size: 1rem;
    }

    .btn-chamada-1 {
      font-family: $axiformaBlackItalic;
      background: $corSecundaria;
      padding: 30px 0 30px 0;
      transform: skew(-30deg);
      display: inline-block;
      margin-top: 15px;
      transition: $transicaoPadrao;
      max-width: 440px;
      text-align: center;
      border: solid 5px $corSecundaria;

      span {
        transform: skew(30deg);
        display: block;
        font-family: $axiformaBlackItalic;
        color: $corBranca;
        text-transform: uppercase;
        font-size: 1.2rem;
        transition: $transicaoPadrao;
      }

      &:hover {
        background: $corPrimaria !important;
        transform: skew(-15deg);

        span {
          transform: skew(15deg);
        }
      }
    }
  }
}

#chamada-2 {
  margin-top: 35px;

  .container {
    .row {
      .col-12 {
        .btn-skewed-sm {
          padding: 25px 20px;
        }
      }
    }
  }
}