footer {
  background: #292929;
  position: relative;
  padding: 35px 0 10px 0;
  margin-top: 80px;

  h3 {
    font-size: 1.2rem !important;
    font-family: $axiformaMedium !important;
    color: $corPrimaria !important;
  }

  .termos-e-condicoes {
    h4 {
      color: $corBranca;
      font-family: $axiformaBold;
      font-size: 1rem !important;
      margin-bottom: 0.9rem;
    }

    p {
      color: $corBranca;
      font-family: $axiformaMedium;
      line-height: 1.3rem;
      margin-bottom: 0.9rem;
    }
  }

  .info {
    padding-top: 100px;

    .menu {
      padding-left: 120px;

      .site-navbar {
        a {
          color: $corBranca;
          transition: $transicaoPadrao;
          font-family: $axiformaMedium;

          &:hover {
            color: $corPrimaria;
          }
        }
      }
    }

    .contato {
      display: flex;
      flex-direction: column;

      a {
        color: $corBranca;
        font-family: $axiformaMedium;
        font-size: 0.97rem;
        transition: $transicaoPadrao;
        padding-bottom: 17px;
        display: flex;


        &:hover {
          color: $corPrimaria;
        }

        &.link-pv{
          color: $corPrimaria;
          font-size: 1.2rem;

          &:hover{
            color: $corBranca;
          }
        }
      }

      .redes-sociais {
        display: flex;
        margin-bottom: 30px;

        .rede-social {
          a {
            background-color: #97d035;
            width: 32px !important;
            height: 32px;
            border-radius: 50%;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            top: 3px;
            padding-bottom: 0 !important;
            color: #292929 !important;
            font-size: 1.2rem !important;
            transition: $transicaoPadrao;

            &:hover{
              background-color: $corSecundaria;
            }
          }
        }
      }
    }
  }


  .wrapper-footer {
    z-index: 1;
    position: relative;
  }

  .logo-footer {
    img {
      width: auto;
      margin-bottom: 2rem;
      height: auto;
      object-fit: unset;
    }
  }

  .texto-footer {
    line-height: 1.2rem;
    font-family: $axiformaMedium;
    color: #e8e6e6;
  }

  .cerfificacoes-footer {
    img {
      width: 60px;
    }
  }

  h4 {
    font-size: 1.5rem !important;
    margin-bottom: 35px;
  }

  .links-uteis {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;

    .menu-links-uteis-container {
      ul {
        list-style: none;
        padding: 0;

        li {
          a {
            color: $corBranca;
            transition: all .2s ease-in-out;
            line-height: 2.3rem;
            font-size: 0.79rem;

            &:hover {
              color: $corSecundaria;
              text-decoration: none;
            }
          }
        }
      }
    }
  }

  .informacoes {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    color: $corBranca;
    font-size: 0.79rem;

    a {
      color: $corBranca;
      transition: all .2s ease-in-out;

      &:hover {
        color: $corSecundaria;
        text-decoration: none;
      }
    }

    .fa-phone-alt {
      transform: rotate(45deg);
    }
  }

  .fundo-footer {
    left: 80%;
    position: absolute;
    bottom: 0;
    z-index: 0;
    width: 60%;
  }

  .footer-copyright-content {
    .row {
      .copy {
        color: $corBranca;
      }

      #redes-sociais {
        a {
          margin: 0 8px;

          svg {
            font-size: 22px;
            color: $corBranca;
            transition: all .2s ease-in-out;
          }

          &:hover {
            svg {
              opacity: .4;
            }
          }
        }
      }

      .logo-cia {
        width: 80px !important;
      }
    }
  }

  .contatos-footer {
    padding: 25px 0 !important;

    a {
      text-decoration: none;
      color: #ffffff;
      transition: all 0.2s ease-in-out;
      font-weight: 400;
      top: -5px;
      position: relative;

      &:hover {
        color: #f2ea63;
      }
    }

    .icon-wrapper {
      background-color: #004263;
      border-radius: 50%;
      height: 28px;
      width: 28px;
      display: inline-block;
      position: relative;
      top: 3px;

      svg {
        position: absolute;
        top: 50%;
        font-size: 18px;
        left: 50%;
        transform: translate(-50%, -50%);
        color: var(--corTerciaria);
      }

    }

    .redes-sociais {
      a {
        background-color: #004263;
        width: 28px !important;
        height: 28px;
        border-radius: 50%;
        position: relative;
        color: var(--corTerciaria);
        display: inline-block;
        text-align: center;
        top: 3px;

        &:hover {
          background: $corSecundaria;
        }

        svg {
          top: 50%;
          left: 50%;
          position: absolute;
          transform: translate(-50%, -50%);
          color: #006396;
          font-size: 20px;
        }
      }
    }
  }


}