#faq {
  .container {
    .row {
      h3 {
        font-family: $axiformaBlackItalic;
        text-transform: uppercase;
        color: #606062;
        position: relative;
        margin-bottom: 50px;

        &:after {
          content: "";
          height: 5px;
          width: 166px;
          background-color: $corPrimaria;
          position: absolute;
          bottom: -8px;
          left: 0;
          display: block;
          transform: skew(-50deg);
        }
      }

      .card {
        margin-bottom: 20px;
        border: none;
        background: #2f2f32;
        border-radius: 0;
        padding-left: 40px;


        .card-header {
          border: none;

          h5 {

            button {
              color: #fefeff;
              font-family: $axiformaBold;
              padding-left: 0;

              .icon-wrapper {
                svg {
                  color: #fefeff;
                }
              }

              &:focus {
                box-shadow: none;
                text-decoration: none;
              }

              &:hover {
                text-decoration: none;
              }
            }

          }
        }


        .card-body {
          p {
            color: #fefeff;
          }
        }

      }
    }
  }
}