@font-face {
  font-family: "Axiforma Black Italic";
  src: url("../fonts/Axiforma_Black_Italic.otf") format("opentype");
}
$axiformaBlackItalic : "Axiforma Black Italic", sans-serif;

@font-face {
  font-family: "Axiforma Regular";
  src: url("../fonts/Axiforma_Regular.otf") format("opentype");
}
$axiformaRegular : "Axiforma Regular", sans-serif;

@font-face {
  font-family: "Axiforma Bold";
  src: url("../fonts/Axiforma Bold.otf") format("opentype");
}
$axiformaBold : "Axiforma Bold", sans-serif;

@font-face {
  font-family: "Axiforma Italic";
  src: url("../fonts/Axiforma_Italic.otf") format("opentype");
}
$axiformaItalic : "Axiforma Italic", sans-serif;

@font-face {
  font-family: "Axiforma Medium";
  src: url("../fonts/Axiforma_Medium.otf") format("opentype");
}
$axiformaMedium : "Axiforma Medium", sans-serif;