@media (min-width: 576px) {
  #politicaDePrivacidade {
    .modal-dialog {
      max-width: 650px !important;

      .close {
        span {
          font-size: 2rem;
        }
      }
    }
  }
}

@media(max-width: 767px) {
  .particles {
    display: none !important;
  }

  .navbar {
    padding: 0 !important;
    height: 50px !important;

    .navbar-brand {
      img {
        width: 160px !important;
      }
    }
  }

  #banner {
    .owl-carousel {
      .owl-item {
        img {
          width: 122% !important;
        }
      }
    }

    .container {
      top: 60px;

      h2 {
        font-size: 1.2em;
        width: 260px;
        line-height: 1.6rem;
        padding-bottom: 6px;
      }

      .btn-banner {
        padding: 2px 20px 0px 20px;
        margin-top: 0;

        span {
          font-size: 0.9rem;
        }

        .element-btn {
          width: 120px !important;
          bottom: -11px;
          height: 17px;
          left: -10px;
        }
      }
    }
  }

  .secoes-alternadas {
    .container {
      .row {
        .wrapper-attachment-secoes-aternadas {
          .attachment-secoes-aternadas {
            &.left-img {
              padding: 0;
              max-width: 250px;
            }

            &.second-img {
              display: none;
            }
          }
        }

        h3 {
          font-size: 1.2rem;

          &:after {
            width: 120px;
            bottom: -2px;
          }
        }
      }
    }
  }

  #atendimento {
    top: auto;
    padding-top: 40px;
    margin-top: 30px;

    svg {
      display: none;
    }

    img {
      left: 0;
      max-width: 300px;
      margin-top: 40px;
    }

    .container {
      .row {
        flex-direction: column-reverse !important;

        h3 {
          font-size: 1.4rem;
          line-height: 1.8rem;

          &:after {
            width: 120px;
            bottom: -10px;
          }
        }

        .content {
          padding: 0 15px !important;

          .btn-chamada-1 {
            padding: 0 10px;
            width: fit-content;
            margin-left: 5px;

            span {
              font-size: 0.9rem;
            }

          }
        }
      }
    }
  }

  #profissionais {
    .container {
      .row {
        .profissionais-carousel {
          .item {
            margin: 0 15px;

            img.img-profissionais {
              left: 60px !important;
              position: relative;
            }
          }
        }
      }
    }
  }

  #como-funciona {
    .container {
      .row {
        h3 {
          font-size: 1.4rem;
          padding-right: 0;
          line-height: 1.9rem;

          &:after {
            width: 120px;
            bottom: -5px;
          }
        }

        .card-item {
          .card-inner {
            height: 200px;

            .card-text {
              font-size: 0.9rem;
            }
          }
        }

        img {
          display: none;
        }
      }
    }
  }

  #resultados {
    .container {
      .row {
        h3 {
          font-size: 1.4rem;
          padding-right: 0;
          line-height: 1.9rem;
        }
      }
    }
  }

  #cta-download-app {
    .container {
      .row {
        h3 {
          font-size: 1.4rem;
          padding-right: 0;
          line-height: 1.9rem;

          &:after {
            width: 120px;
            bottom: -5px;
          }
        }


        .botoes-download-app {
          img {
            width: 100%;
            margin-bottom: 15px;
          }

          margin-top: 17px;
        }

        img {
          width: 100%;
          width: 80%;
          margin: 0 auto;
        }

        .link-video-download-app {
          margin-top: 50px;
          padding: 50px 0;
          left: 0;

          .btn-youtube {
            width: 80px;
          }
        }
      }
    }

    height: 620px;
  }

  #Ptrainer {
    margin-top: 50px;
  }

  .secoes-alternadas {
    &.sa-2 {
      top: -156px;

      .container {
        .row {
          padding-top: 0;

          .sa-content {
            &.sac-0 {
              padding-left: 15px;
              padding-right: 15px;
            }
          }

          img {
            display: none;
          }
        }
      }
    }
  }

  #planos {
    h3 {
      font-size: 1.4rem;
      padding-right: 0;
      line-height: 1.9rem;

      &:after {
        width: 120px;
        bottom: -5px;
      }
    }

    top: -70px;
    max-height: 100%;
    padding-bottom: 80px;

    .container {
      .row {
        .box-consultoria {
          padding: 35px 20px;

          .box-header {
            h4 {
              span {
                font-size: 1.3rem;
              }
            }
          }
        }
      }
    }
  }

  #faq {
    .container {
      .row {
        .card {
          padding-left: 0;

          .card-header {
            h5 {
              button {
                text-align: left;

                .icon-wrapper {
                  svg {
                    right: -20px;
                    position: relative;
                  }
                }
              }
            }

            padding: 0.75rem 10px;
          }

          .card-body {
            padding: 1.25rem 10px;
          }
        }
      }
    }
  }

  #suporte {
    .container {
      .row {
        h3 {
          font-size: 1.4rem;
          padding-right: 0;
          line-height: 1.9rem;

          &:after {
            width: 120px;
            bottom: -5px;
          }
        }


        .img-chamada-whatsapp {
          width: 150%;
        }

        .btn-skewed-sm {
          span {
            font-size: 0.8rem;
          }

          padding: 3px 5px 0 5px;
        }

        .icon-whatsapp {
          width: 70px;
        }
      }
    }
  }

  #quem-sou-eu {
    margin-top: 70px;

    .container {
      .row {
        h3 {
          font-size: 1.4rem;
          padding-right: 0;
          line-height: 1.9rem;
          margin-bottom: 25px;

          &:after {
            width: 120px;
            bottom: -5px;
          }
        }

        .content {
          padding-right: 15px;

          .img-quem-sou-eu-mobile {
            width: 250px;
            margin: 0 auto;
          }
        }
      }
    }
  }

  #depoimentos {
    margin-top: 25px;
    padding: 50px 0;

    .container {
      .row {
        h3 {
          font-size: 1.4rem;
          padding-right: 0;
          line-height: 1.9rem;
          margin-bottom: 35px;

          &:after {
            width: 120px;
            bottom: -5px;
          }
        }

      }
    }
  }

  #chamada-2 {
    .container {
      .row {
        .col-12 {
          .btn-skewed-sm {
            padding: 8px 10px;
            width: 95%;

            span {
              font-size: 1rem;
            }
          }
        }
      }
    }
  }

  footer {
    .info {
      padding-top: 50px;

      .menu {
        padding-left: 15px;
      }

      .contato {
        margin-top: 30px;
      }
    }
  }


  .botao-lateral-wrapper {
    display: none;
    position: fixed;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
    z-index: 99999;

    .botao-lateral {
      a {
        width: 45px !important;
        height: 35px !important;

        svg {
          font-size: 20px !important;
        }

        &:hover {
          width: 50px !important;
        }
      }
    }
  }
}

@media(min-width: 768px) and (max-width: 991px) {
  .particles {
    display: none !important;
  }
  #banner {
    .container {
      h2 {
        font-size: 2rem;
      }

      .btn-banner {
        margin-top: 10px;
        padding: 10px 30px 10px 30px;

        span {
          font-size: 1rem;
        }
      }

      top: 110px;
    }
  }

  .secoes-alternadas {
    .container {
      .row {
        .wrapper-attachment-secoes-aternadas {
          .attachment-secoes-aternadas {
            &.left-img {
              padding: 0;
            }
          }
        }
      }
    }
  }

  #atendimento {
    top: 0;
    margin-top: 50px;
    padding: 20px 0;

    .content {
      padding-left: 10px;

      .btn-chamada-1 {
        span {
          font-size: 1rem;
        }
      }
    }

    svg {
      display: none;
    }

    img {
      bottom: -40px;
    }
  }

  #como-funciona {
    .container {
      .row {
        .card-item {
          .card-inner {
            padding: 0 10px;

            .card-text {
              font-size: 0.8rem;
            }
          }
        }
      }
    }
  }

  #cta-download-app {
    .container {
      .row {
        img {
          width: 100%;
          width: 75%;
          margin: 0 auto;
        }

        .link-video-download-app {
          .btn-youtube {
            width: 120px;
          }

          padding: 105px 0;
          margin-top: 100px;
        }
      }
    }
  }

  .secoes-alternadas.sa-2 {
    .container {
      .row {
        .sa-content.sac-0 {
          padding-left: 15px;
          padding-right: 15px;
        }
      }
    }
  }
  .secoes-alternadas {
    .container {
      .row {
        .wrapper-attachment-secoes-aternadas {
          .attachment-secoes-aternadas.second-img {
            width: 100% !important;
            bottom: -11px !important;
            position: absolute !important;
            top: auto;
          }
        }
      }
    }
  }

  #planos {
    top: 0;
    max-height: inherit;

    .container {
      .row {
        .col-md {
          margin-bottom: 30px !important;
        }
      }
    }
  }


}

@media(min-width: 992px) and (max-width: 1199px) {
  .particles {
    display: none !important;
  }

  #banner {
    .container {
      top: 125px;

      h2 {
        font-size: 2.5em;
      }

      .btn-banner {
        margin-top: 18px;
      }
    }
  }

  #cta-download-app {
    .container {
      .row {
        .link-video-download-app {
          padding: 150px 0;
          margin-top: 110px;
        }

        .img-phone {
          width: 100%;
        }
      }
    }
  }
  .secoes-alternadas.sa-2 {
    .container {
      .row {
        .sa-content.sac-0 {
          padding-left: 0;
        }
      }
    }
  }


}
