/*  CORES DO TEMA */

$corPrimaria: var(--corPrimaria);
$corSecundaria: var(--corSecundaria);
$corTerciaria:var(--corTerciaria);
$corBody: var(--corBody);
$corAuxiliar: var(--corAuxiliar);

/* VARIÁVEIS CORES PADRÕES */

$corBranca: #ffffff;
$corPreta:#1a1a1a;
$corGeral: #3c3c3c;
$corCinzaEscuro:#322b2a;

/* VARIÁVEIS HEADERS */

$menuPrimario:$corPrimaria;
$menuSecundario: $corBranca;
$menuPrincipal:$corPrimaria;

/* Fontes */
$fontePadrao: "Axiforma Regular", sans-serif;
$regular: 400;
$medium: 500;
$semiBold: 600;
$bold: 700;
$extraBold: 800;
$black: 900;

/* Transitions */
$transicaoPadrao: all .2s ease-in-out;
