#suporte {
  padding-top: 100px;

  .container {
    .row {
      .img-chamada-whatsapp {
        width: auto;
      }

      .icon-whatsapp {
        width: 110px;
      }

      h3 {
        font-family: $axiformaBlackItalic;
        text-transform: uppercase;
        color: #606062;
        position: relative;
        margin-bottom: 50px;

        &:after {
          content: "";
          height: 5px;
          width: 150px;
          background-color: $corPrimaria;
          position: absolute;
          bottom: -8px;
          left: 0;
          display: block;
          transform: skew(-50deg);
        }
      }

    }
  }
}