#depoimentos {
  background-color: $corPrimaria;
  padding: 80px 0;
  margin-top: 60px;

  .container {
    .row {
      h3 {
        font-family: $axiformaBlackItalic;
        text-transform: uppercase;
        color: #ffffff;
        position: relative;
        margin-bottom: 50px;

        &:after {
          content: "";
          height: 5px;
          width: 166px;
          background-color: #606062;
          position: absolute;
          bottom: -8px;
          left: 0;
          display: block;
          transform: skew(-50deg);
        }
      }

      .depoimentos-carousel {
        .item {
          h4 {
            color: #ffffff;
            font-size: 0.95rem;
            margin-top: 15px;
            letter-spacing: 1px;
            margin-bottom: 10px;
          }

          p {
            font-family: $axiformaItalic;
            color: $corBranca;
            padding-right: 40px;
          }

          .link-video-depoimento {
            background: #2f2f32;
            padding: 80px 0;
            width: 100%;
            transition: $transicaoPadrao;

            .btn-youtube {
              position: absolute;
              left: 50%;
              transform: translate(-50%, 0);
              transition: all 0.3s ease-in-out;
              width: 76px !important;
              display: block;
            }

            .logo-white-app {
              width: 230px !important;
              margin: 0 auto;
            }

            &:hover {
              box-shadow: 12px 12px 20px rgba(0, 0, 0, 0.21);
            }
          }
        }
        .owl-dots {
          margin-top: 35px;

          .owl-dot {
            span {
              width: 14px;
              height: 14px;
              background-color: #dadada;
              transition: $transicaoPadrao;
            }

            &.active {
              span {
                background-color: #606062;
              }
            }
          }
        }

      }
    }
  }
}